@using TrinityContinuum.WebApp.Components.Shared
@inherits AspirationsSectionBase

<section class="col-12 col-lg-6">

    <SectionHeader>Aspirations</SectionHeader>

    <div class="d-flex-column altrow">
        @foreach (var asp in Model.Aspirations)
        {
            <div>
                <span>@(asp.IsLongTerm ? "(Long)" : "(Short)") @asp.Description</span>
            </div>
        }
    </div>

</section>