@using TrinityContinuum.WebApp.Components.Components
@inherits EdgesSectionBase

<div class="col-6 container">
    <SectionHeading>Edges</SectionHeading>

    <div class="column">
        @foreach (var edge in Model.Edges)
        {
            <div>
                <label>@edge.Name @(!string.IsNullOrEmpty(edge.Note) ? "(" + edge.Note + ")" : "")</label>
                <Dots Value="@edge.Dots" ReadOnly="true" />
            </div>
        }
    </div>

</div>