@using TrinityContinuum.WebApp.Components.Shared
@inherits EdgesSectionBase

<section id="edges" class="col-12 col-lg-6">
    <SectionHeader>Edges</SectionHeader>

    <div class="altrow">
        @foreach (var edge in Model.Edges)
        {
            <div class="d-flex">
                <label>@edge.Name @(!string.IsNullOrEmpty(edge.Note) ? "(" + edge.Note + ")" : "")</label>
                <Dots Value="@edge.Dots" ReadOnly="true" />
            </div>
        }
    </div>

</section>