.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.misc {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.misc > label {
    font-weight: bold;
}

.injury-line {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 5px;
}

.injury-line > span:last-child {
    margin-left: auto;
}

.takenout {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.square {
    background-color: transparent;
    border: 2px solid var(--header-bg);
    border-radius: 3px;
    width: 18px;
    height: 18px;
    box-shadow: 1px 1px 3px #888;
}
