@using TrinityContinuum.WebApp.Components.Shared
@inherits AbstractSectionBase

<section id="pathContacts" class="col-12 col-lg-6">

    <SectionHeader>Path Contacts</SectionHeader>

    <div class="d-flex-column altrow">
        @foreach (var contact in Contacts)
        {
            <div class="d-flex gap-1">
                <span>@contact.Name</span>
                <Dots @bind-Value="@contact.Dots" ReadOnly="true" />
            </div>
        }
    </div>

</section>