
.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .column > div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5px;
    }

        .column > div > label {
            font-weight: bold;
        }

.modes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.psiPoints {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px;
    margin-left: auto;
}

.square {
    background-color: transparent;
    border: 2px solid var(--header-bg);
    border-radius: 3px;
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    box-shadow: 1px 1px 3px #888;
}
