@using TrinityContinuum.WebApp.Components.Components
@inherits SkillsSectionBase

<div class="col-12 container">
    <SectionHeading>Skills</SectionHeading>

    <div class="row justify-content-evenly">

        <div class="col-12 column altrow">
            @{
                foreach (var skill in Model.Skills)
                {
                    <div class="skill">
                        <label>@skill.Key</label>
                        @if (skill.Value.Specialties != null && skill.Value.Specialties.Count() > 0)
                        {
                            <span class="chips">
                                @foreach (var spec in skill.Value.Specialties)
                                {
                                    <span class="chip specialty">@spec</span>
                                }
                                @foreach (var trick in skill.Value.Tricks)
                                {
                                    <span class="chip trick">@trick</span>
                                }
                            </span>
                        }
                        else
                        {
                            <span></span>
                        }
                        <Dots @bind-Value="@skill.Value.Dots" ReadOnly="true" />
                    </div>
                }
            }
        </div>
    </div>
</div>