@using TrinityContinuum.WebApp.Components.Components
@inherits SkillsSectionBase

<section id="skills" class="col-12 col-lg-6">
    <SectionHeader>Skills</SectionHeader>

    <div class="altrow">
        @foreach (var skill in Model.Skills)
        {
            <div class="d-flex gap-2">
                <label>@skill.Key</label>
                
@*                 @if (skill.Value.Specialties != null && skill.Value.Specialties.Count() > 0)
                {
                    <span class="d-flex gap-1">
                        @foreach (var spec in skill.Value.Specialties)
                        {
                            <span class="chip specialty">@spec</span>
                        }

                        @foreach (var trick in skill.Value.Tricks)
                        {
                            <span class="chip trick">@trick</span>
                        }
                    </span>
                }
 *@
                <Dots @bind-Value="@skill.Value.Dots" ReadOnly="true" />
            </div>
        }
    </div>
</section>