@inherits SheetComponent
@page "/sheet"
@using TrinityContinuum.WebApp.Components.SheetSections
@using TrinityContinuum.WebApp.Components.Components

@rendermode InteractiveServer

<PageTitle>Character Sheet</PageTitle>

<main class="container">
    <LogoSection />

    <GeneralSection Model="Model" />
    <SkillsSection Model="Model" />
    <AttributesSection Model="Model" />

    <div class="row">
        <InjuryConditions Model="Model" />
        <PsiSection Model="Model" />
    </div>

    <div class="row">
        <EdgesSection Model="Model" />
        <AspirationsSection Model="Model" />
    </div>

</main>