@inherits SheetComponent
@page "/sheet"
@using TrinityContinuum.WebApp.Components.SheetSections
@using TrinityContinuum.WebApp.Components.Components

@rendermode InteractiveServer

<PageTitle>Character Sheet</PageTitle>

<main>
    <LogoSection />

    <GeneralSection Model="Model" />
    <SkillsSection Model="Model" />
    <AttributesSection Model="Model" />

    <div class="section">
        <InjuryConditions Model="Model" />
        <PsiSection Model="Model" />
        <EdgesSection Model="Model" />
    </div>
</main>