@inherits SheetComponent
@page "/sheet"
@page "/sheet/{CharacterId:int}"
@using TrinityContinuum.WebApp.Components.SheetSections
@using TrinityContinuum.WebApp.Components.Components

@rendermode InteractiveServer

<PageTitle>Character Sheet</PageTitle>

@if (CharacterId == 0)
{
    <h1>Select a Character</h1>
    <CharacterSelector />
}
else
{
    <main class="container row justify-content-evenly">
        <LogoSection />
        <GeneralSection Model="Model" />
        <SkillsSection Model="Model" />
        <AttributesSection Model="Model" />
        <InjuryConditions Model="Model" />
        @*
        <PsiSection Model="Model" />
        <EdgesSection Model="Model" />
        <AspirationsSection Model="Model" />
        <PathContactsSection Model="Model" />
 *@    
    </main>
} 