@inherits PowerCardsBase
@page "/powercards/{characterId:int}"
@using TrinityContinuum.WebApp.Components.Shared

@rendermode InteractiveServer

<PageTitle>Power Cards</PageTitle>


@if (Powers == null)
{
    <div>Loading...</div>
}
else
{
    @if (Powers != null && Powers.Any())
    {
        @for (var idx = 0; idx < PageTotal; idx++)
        {
            <div class="pcard-page">

                @foreach (var power in GetSelectedPowers(idx))
                {
                    <PowerCard Power="power" PsiTrait="@(Character?.Psi?.Trait ?? 0)" Modes="@(Character?.Psi?.Modes)" />
                }
            </div>
        }
    }
}