@inherits SheetComponent
@page "/sheet"
@page "/sheet/{CharacterId:int}"
@using TrinityContinuum.WebApp.Components.SheetSections
@using TrinityContinuum.WebApp.Components.Shared

@rendermode InteractiveServer

<PageTitle>Character Sheet</PageTitle>

@if (CharacterId == 0)
{
    <h1>Select a Character</h1>
    <CharacterSelector />
}
else
{
    <main class="container-fluid">
        @if (Model != null)
        {
            <LogoSection Model="Model" />
            <GeneralSection Model="Model" />
            <div class="row">
                <AttributesSection Model="Model" />
                <SkillsSection Model="Model" />
                <InjuryConditions Model="Model" />
                <PsiSection Model="Model" />
                <EdgesSection Model="Model" />
                <SpecialtiesTricksSection Model="Model" />
                <AspirationsSection Model="Model" />
                <PathContactsSection Model="Model" />
            </div>
        }
    </main>
} 