:root {
    /* Generic colors */
    --bg-color-light: #fff;
    --fg-color-light: #000;
    /* Aeon specific colors */
    --header-bg-aeon: #A4181C;
    --header-fg-aeon: #fff;
    --row-color-aeon: #F4ADB2;
    /* Aberrant specific colors*/
    --header-bg-aberrant: #000;
    --header-fg-aberrant: #FEC00F;
    --row-color-aberrant: #F9E19F;
    /* Continuum (Modern) colors */
    --header-bg-continuum: #005b7f;
    --header-fg-continuum: #fff;
    --row-color-continuum: #96B7D9;
    /* Theme aware colors*/
    --background-color: var(--bg-color-light);
    --foreground-color: var(--fg-color-light);
    --header-bg: var(--header-bg-aeon);
    --header-fg: var(--header-fg-aeon);
    --row-color: var(--row-color-aeon);
    --specialty-color: #DBF9DB;
    --trick-color: #C2EDED;
    --tag-color: #DBF9DB;
    /* Aeon fonts */
    --header-font: Blinddate;
    --body-font: Philosopher;
    /* Aptitude Colors - Primarily used for Power Cards */
    --aeon-bg: var(--header-bg-aeon);
    --biokinesis-bg: #283F69;
    --clairsentience-bg: #579556;
    --electrokinesis-bg: #657BAD;
    --psychokinesis-bg: #034DBA;
    --quantakinesis-bg: #8C45AD;
    --telepathy-bg: #E3E083;
    --teleportation-bg: #FFD165;
    --vitakinesis-bg: #D0272A;
    /* Common Settings*/
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--body-font);
}

.header {
    margin-top: 10px;
    padding: 5px;
    background-color: var(--header-bg);
    color: var(--header-fg);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #888;
    font-family: var(--header-font);
}

.subheader {
    margin-top: 5px;
    padding: 5px;
    color: var(--header-bg);
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-family: var(--header-font);
    border-bottom: 1px solid var(--header-bg)
}

    .header > h1, .header > h2, .header > h3, .header > h4, .header > h5, .header > h6,
    .subheader > h1, .subheader > h2, .subheader > h3, .subheader > h4, .subheader > h5, .subheader > h6 {
        margin: 0;
        padding: 0px;
    }

h1:is(.card-title), h2:is(.card-title), h3:is(.card-title), h4:is(.card-title), h5:is(.card-title), h6:is(.card-title) {
    font-family: var(--header-font);
    border-bottom: 1px solid var(--header-bg);
    color: var(--header-bg);
    margin: .25rem;
    margin-bottom: 0;
    text-align: center;
}

.fv-sc {
    font-variant: small-caps;
}

#logo img {
    height: 150px;
}

.row label {
    font-weight: bold;
}

    .row label::after {
        content: ": ";
    }

.altrow > div:nth-child(even) {
    background-color: var(--row-color);
}

.chip {
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: normal;
    padding: 2px 3px;
    height: 21px;
    box-shadow: 1px 1px 3px #888;
}

.tag {
    background-color: var(--tag-color);
}

.specialty {
    background-color: var(--specialty-color);
}

.trick {
    background-color: var(--trick-color);
}
